# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app

/GP-GLSL/.vs
/prepare/glfw-3.3.2
/prepare/glfw-3.3.2-build
/prepare/glm-stable
/prepare/glad